<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <title>Playing Yugi-Eh</title>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <style>
        .fullscreen-container {
            display: none;
            position: fixed;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background: rgba(90, 90, 90, 0.5);
            z-index: 9999;
        }

        #popdiv {
            height: 300px;
            width: 420px;
            background-color: #97ceaa;
            position: fixed;
            top: 50%;
            left: 50%;
        }
    </style>
</head>
<body>
    <div class="container-fluid" style="height: 100vh">
        <div class="row mb-2 shadow-sm">
            <div class="col p-0 ">
                <nav class="navbar navbar-expand-lg navbar-light bg-light d-flex">
                    <a class="navbar-brand flex-grow-1" href="/">Yugi-Eh</a>
                    <p class="h6 m-0" th:text="'Room Token: ' + ${currentRoom.getToken().tokenId}"></p>
                  </nav>
            </div>
        </div>
        <div class="row main" style="height: 100%">
            <div class="fullscreen-container">
                <div id="popdiv" class="p-3">

                </div>
            </div>
            <div class="col-3 p-3 sidebar-left border-right d-flex flex-column justify-content-between">
                <div class="player-one flex-grow-1">
                    <div class="attributes">
                        <div th:if="${currentRoom == null}">
                            <p class="h6">ERROR</p>
                        </div>
                        <div th:if="${currentRoom != null}">
                            <p class="h6 username" th:text="${currentRoom.getPlayerOne().getUsername()}"></p>
                            <p class="h6 hp" >HP: <span th:text="${currentRoom.getPlayerOne().getHp()}"></span></p>
                            <p class="h6 atk">ATK: <span th:text="${currentRoom.getPlayerOne().getAtk()}"></span></p>
                        </div>
                    </div>
                    <div class="deck border round-sm" style="height: 150px; width:100px">
                        <img style="width:100%" src="https://i.pinimg.com/originals/fd/0c/b9/fd0cb97ac9aaa1341195b1c4ab58fb6f.png" alt="" srcset="">
                    </div>
                </div>
                <div class="player-two">
                    <div class="deck border round-sm" style="height: 150px; width:100px">
                        <img style="width:100%" src="https://i.pinimg.com/originals/fd/0c/b9/fd0cb97ac9aaa1341195b1c4ab58fb6f.png" alt="" srcset="">
                    </div>
                    <div class="attributes">
                        <p class="h6 username" th:text="${currentRoom.getPlayerTwo().getUsername()}"></p>
                        <p class="h6 hp" >HP: <span th:text="${currentRoom.getPlayerTwo().getHp()}"></span></p>
                        <p class="h6 atk">ATK: <span th:text="${currentRoom.getPlayerTwo().getAtk()}"></span></p>
                    </div>
                </div>
            </div>
            <div class="col-6 p-3 main-board d-flex flex-column justify-content-between">
                <div class="player-one-space">
                    <div class="card-handed d-flex justify-content-center" id="deck-player-one">
                        <div class="deck border round-sm" style="height: 150px; width:100px">
                            <img style="width:100%" src="https://dummyimage.com/100x150/d4d4d4/000&text=playing-card" alt="" srcset="">
                        </div>
                        <div class="deck border round-sm" style="height: 150px; width:100px">
                            <img style="width:100%" src="https://dummyimage.com/100x150/d4d4d4/000&text=playing-card" alt="" srcset="">
                        </div>
                        <div class="deck border round-sm" style="height: 150px; width:100px">
                            <img style="width:100%" src="https://dummyimage.com/100x150/d4d4d4/000&text=playing-card" alt="" srcset="">
                        </div>
                    </div>
                </div>
                <div class="space border"></div>
                <div class="player-two-space">
                    <div class="card-handed d-flex justify-content-center">
                        <div class="deck border round-sm" style="height: 150px; width:100px">
                            <img style="width:100%" src="https://i.pinimg.com/originals/fd/0c/b9/fd0cb97ac9aaa1341195b1c4ab58fb6f.png" alt="" srcset="">
                        </div>
                        <div class="deck border round-sm" style="height: 150px; width:100px">
                            <img style="width:100%" src="https://i.pinimg.com/originals/fd/0c/b9/fd0cb97ac9aaa1341195b1c4ab58fb6f.png" alt="" srcset="">
                        </div>
                        <div class="deck border round-sm" style="height: 150px; width:100px">
                            <img style="width:100%" src="https://i.pinimg.com/originals/fd/0c/b9/fd0cb97ac9aaa1341195b1c4ab58fb6f.png" alt="" srcset="">
                        </div>
                        <div class="deck border round-sm" style="height: 150px; width:100px">
                            <img style="width:100%" src="https://i.pinimg.com/originals/fd/0c/b9/fd0cb97ac9aaa1341195b1c4ab58fb6f.png" alt="" srcset="">
                        </div>
                        <div class="deck border round-sm" style="height: 150px; width:100px">
                            <img style="width:100%" src="https://i.pinimg.com/originals/fd/0c/b9/fd0cb97ac9aaa1341195b1c4ab58fb6f.png" alt="" srcset="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-3 p-3 sidebar-right border-left d-flex flex-column justify-content-between align-items-center">
                <p class="h5 p-2">Player Actions</p>
                <div class="command">

                </div>
                <div class="input-command">
                    <button class="btn-primary p-1 rounded" onclick="activateSelectedCards()">Activate Selected Cards</button>
<!--                    <button onclick="getDeck()">Get Deck</button>-->
                </div>
            </div>
        </div>
    </div>

    <script src="/webjars/jquery/3.4.1/jquery.min.js"></script>
    <script src="/webjars/popper.js/1.16.0/popper.min.js"></script>
    <script src="/webjars/bootstrap/4.4.1/js/bootstrap.min.js"></script>

    <script type="text/javascript" th:inline="javascript">
        let tokenId = /*[[${currentRoom.getToken().tokenId}]]*/;
        let listCardSelected = "";
        let counter = 0;
        getDeck();

        function selectCard(index) {
            if (listCardSelected.includes(""+index)) {
                listCardSelected = listCardSelected.replace(';'+index, "");
                $("#"+index).css("background-color","white");
                counter--;
            } else {
                if (counter < 3) {
                    listCardSelected+= (";"+index);
                    counter++;
                    $("#"+index).css("background-color","rgba(255, 99, 71, 0.7)");
                } else {
                    alert("Cannot Pick More than 3 cards");
                }
            }
            console.log(listCardSelected);
        }

        function activateSelectedCards() {
            if (listCardSelected === "") {
                alert("Select at least 1 card");
                return;
            }

            data = tokenId+listCardSelected;
            listCardSelected = "";
            counter = 0;
            $.ajax({
                type: "POST",
                contentType: "application/json",
                url: "/activate-selected-cards",
                data:  data,
                dataType: 'json',
                success: function (data) {
                    console.log(data);
                    updatePlayerOneStats(data.playerOne);
                    updatePlayerTwoStats(data.playerTwo);
                    updateCommandSideBar(data.playerOneCardUsed, data.playerTwoCardUsed);
                    if (parseInt(data.playerOne.hp) <= 0) {
                        computerWin();
                    } else if (parseInt(data.playerTwo.hp) <= 0) {
                        playerWin();
                    } else {
                        getDeck();
                    }
                },
                error: function (data) {
                    console.log("ERROR"+ data);
                }
            });
        }


        function computerWin() {
            $("#popdiv").html("<h1>Computer Win!</h1>"+"<a href=\"\"class=\"btn-primary btn-sm p-2\"> Play Again </a>")
            $(".fullscreen-container").fadeTo(200, 1);
        }

        function playerWin() {
            $("#popdiv").html("<h1>You Win!</h1>"+"<a href=\"\"class=\"btn-primary btn-sm p-2\"> Play Again </a>")
            $(".fullscreen-container").fadeTo(200, 1);
        }

        function updateCommandSideBar(playerOneCardUsed, playerTwoCardUsed) {
            var text = ""
            var i;
            for (i = 0;i<playerOneCardUsed.length;i++) {
                text += "<h6>Player One used "+playerOneCardUsed[i].name+"</h6>";
            }
            for (i = 0;i<playerTwoCardUsed.length;i++) {
                text += "<h6>Player Two used "+playerTwoCardUsed[i].name+"</h6>";
            }
            $(".command").html(text);
        }

        function updatePlayerOneStats(playerOne) {
            // var hp = $(".player-one").find(".hp").find("span").text()
            // var atk = $(".player-one").find(".atk").find("span").text()
            //
            // console.log(hp);
            $(".player-one").find(".hp").find("span").html(playerOne.hp);
            $(".player-one").find(".atk").find("span").html(playerOne.atk);
            // console.log("done");

        }

        function updatePlayerTwoStats(playerTwo) {
            $(".player-two").find(".hp").find("span").html(playerTwo.hp);
            $(".player-two").find(".atk").find("span").html(playerTwo.atk);
        }

        function getPlayerStats() {
            var data = {};
            data["tokenId"] = tokenId
            $.ajax({
                type: "POST",
                contentType: "application/json",
                url: "/get-players-stats",
                data: tokenId,
                dataType: 'json',
                success: function (data) {
                    console.log(data)


                },
                error: function (data) {
                    console.log("ERROR"+ data);
                }

            });

        }

        function getDeck() {
            $.ajax({
                type: "POST",
                contentType: "application/json",
                url: "/get-playerone-deck",
                data: tokenId,
                dataType: 'json',
                success: function (data) {
                    console.log(data)
                    var deck = "";
                    var i;
                    for (i = 0; i < data.deck.length; i++) {
                        deck += "<div class=\"deck border d-flex flex-column \" style=\"height: 200px; width:150px; margin:5px; text-align: center\" onclick='selectCard(\""+i+"\")'> " +
                            "<div class=\" flex-grow-1\"><h6>"+ data.deck[i].name+"</h6>" +
                            "<h6>"+ data.deck[i].effect+"</h6></div>" +
                            "<div class= 'card rounded-0' id='"+i+"'><h5 class=\"m-0 p-1\"> Card "+(i+1)+"</h5></div>" +
                            "</div>";
                    }
                    $("#deck-player-one").html(deck);
                },
                error: function (data) {
                    console.log("ERROR"+ data);
                }
            });
        }


    </script>
</body>
</html>